{% extends "base.html" %}

{% block content %}
    <h2>Список пациентов</h2>
    <a href="{% url 'add_patient' %}" class="btn">Добавить пациента</a>
    <table>
        <thead>
            <tr>
                <th>ФИО</th>
                <th>Год рождения</th>
                <th>Категория скидки</th>
                <th>Количество обращений</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for patient in patients %}
            <tr>
                <td>{{ patient.full_name }}</td>
                <td>{{ patient.birth_year }}</td>
                <td>{{ patient.get_discount_category_display }}</td>
                <td>{{ patient.visit_set.count }}</td>
                <td>
                    <a href="{% url 'patient_detail' patient.id %}">Подробнее</a>
                    <a href="{% url 'edit_patient' patient.id %}" class="btn-edit">✏️</a>
                    <a href="{% url 'delete_patient' patient.id %}" class="btn-danger">❌</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}